
/*MEDIAQUERY*//*MEDIAQUERY*//*MEDIAQUERY*//*MEDIAQUERY*/

@media (max-width: 580px){
    body{

        header{

            nav a.hostro{
                display: block;
                text-align: center;
            }

            nav ul.menu{
                float: none;
                text-align: center;

                li{
                    display: block;
                    margin: 20px 0 0px 0;

                    a{
                        font-size: 15px;
                    }
                }
            }
        }

        section.section-1{

            div.img-background-1{
                display: none;
            }
        }

        section.formulario-1{

            div.centrar-formulario{
                position: relative;
                bottom: 0px;
                margin: 20px 0px 45px 37px;

                form input:first-child{
                    width: 62%;
                    font-size: 14px;
                }

                span.ion-search{
                    display: none;
                }

                .formulario-1 [type="submit"]{
                    padding: 38px 20px 34px 20px;
                }
            }
        }

        section.section-2{

            li:nth-child(odd){
                width: 58%;
                margin-bottom: 30px;
            }

            li:nth-child(even){
                display: none;
            }
        }

        section.section-3{
            div.hostro-services{
                margin: 0 auto 20px auto;

                p{
                    width: 93%;
                    margin: auto;
                }
            }

            div.container{

                div.cuadrado-izq{
                    width: 90%;
                    display: block;
                    text-align: left;

                    img{
                        left: 40px;
                    }

                    h4{
                        margin: 0 0 17px 110px;
                    }

                    p{
                        margin: 0 0px -10px 110px;
                        font-size: 15px;
                    }
                }

                div.foto-phone{
                    position: relative;
                    left: 156px;
                    top: 60px;
                    width: 45%;
                    margin-bottom: 70px;
                }

                div.cuadrado-der{
                    width: 90%;
                    display: block;
                    text-align: left;
                    float: none;

                    img{
                        left: 40px;
                    }

                    h4{
                        margin: 0 0 17px 110px;
                    }

                    p{
                        margin: 0 0px -10px 110px;
                    }
                }
            }
        }

        section.pricing-tables{

            div.img-background-2{
                top: 70px;
                background-size: 100%;

                div.container{

                    div.centrar{
                        top: 10px;

                        img{
                            visibility: hidden;
                        }

                        h2{
                            font-size: 34px;
                        }

                        p{
                            font-size: 16px;
                            margin: 0 20px;
                        }
                    }

                    div.box-prices{
                        top: 65px;

                        div.box{
                            width: 43%;
                            margin: 0 29px 13px 0;
                            padding-bottom: 16%;

                            a{
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
        }

        footer{
            div{

                div.footer-1{

                    h3{
                        font-size: 22px;
                    }
                }

                div.footer-2{

                    p{
                        display: block;
                        text-align: center;
                    }

                    nav{
                        display: block;
                        text-align: center;
                        margin: 23px 0 0 0;
                        float: none;

                    }
                }
            }
        }
    }
}
