$colorSecundario: #AFB3BC;

$colorCeleste: #01AFF3;

$sizeH2: 40px;

@import "_reset";

@import "_header";

@import "_section-2";

@import "_section-3";

@import "_pricing-tables";

@import "_footer";

@import "_mediaquery-980";

@import "_mediaquery-768";

@import "_mediaquery-580";

@import "_contact";